@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
}
.header {
  border-bottom: 0.2px solid #333;
  padding: 1em 1.5em;
  background-color: #E2C799;
}
.title {
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
.navbar button {
  margin-right: 2.5em;
  margin-top: 0.5em;
}
button:not(.button) {
  border: none;
  outline: none;
  background-color: #C08261;
  color: #fff;
  padding: 0.8em 1.5em;
  border-radius: 0.35em;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}
button:not(.button):hover {
  background-color: #9A3B3B;
  transition: 0.4s;
}
.main-content {
  padding: 1em 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product {
  width: 380px;
  height: 370px;
  border: 0.3px solid #333;
  border-radius: 0.4em;
  padding: 1em;
  margin: 0.8em;
  display: flex;
  flex-direction: column;
  background-color: #F2ECBE;
}
.product img {
  height: 200px;
}
.product .name {
  margin: 0 auto;
  margin-bottom: 0.5em;
}
.product .price {
  margin: 1em 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2px solid #333;
  padding: 0.7em 1.5em;
  background-color: #E2C799;
}
.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5em 0;
}
.cart-item img {
  width: 60px;
  height: 60px;
}
.cart-item select {
  width: 40px;
  outline: none;
  border: 0.3px solid #333;
  border-radius: 0.4em;
  padding: 0.7em;
  cursor: pointer;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: 1.8em center !important;
  background-size: 2.5px;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}
.button {
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.totals {
  display: flex;
  justify-content: flex-end;
  margin-right: 3.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.thanks {
  margin: 1em auto;
  display: flex;
  justify-content: center;
}
